<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <processors>
      <saveUI>
        <processor type="Sitecore.Support.Pipelines.Save.Save, Sitecore.Support.196191" patch:instead="*[@type='Sitecore.Pipelines.Save.Save, Sitecore.Kernel']"/>
      </saveUI>
    </processors>
  </sitecore>
</configuration>